<section class="about-section about">
    <img src="../../assets/images/about-bg.jpg">
    <div class="about-content">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h2>About us</h2>
    </div>
</section>
<section id="about" class="about-section about-section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-4 about-section-align">
              <div class="about-text wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <h3 class="theme-color">About Me</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, .</p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.</p>

                  <div class="about-btn">
                      <a class="scroll-btn btn theme-color" routerLink="/">Download CV</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="author-image ">
                  <img class="img-responsive" src="../../assets/images/about.png" alt="">
              </div>
          </div>
          <div class="col-md-4 about-section-align">
              <div class="about-text wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                  <h3 class="theme-color">My Skills</h3>
                  <div class="skills">
                      <div class="skillbar" data-percent="90%">
                          <div class="count-bar theme-color" style="width: 90%;"></div>
                          <div class="title">HTML 5</div>
                          <div class="count"><span>90%</span></div>
                      </div>
                      <div class="skillbar" data-percent="90%">
                          <div class="title">CSS 3</div>
                          <div class="count"><span>90%</span></div>
                          <div class="count-bar theme-color" style="width: 90%;"></div>
                      </div>
                      <div class="skillbar" data-percent="90%">
                          <div class="title">jQuery</div>
                          <div class="count"><span>90%</span></div>
                          <div class="count-bar theme-color" style="width: 90%;"></div>
                      </div>
                      <div class="skillbar" data-percent="80%">
                        <div class="title">JAVASCRIPT</div>
                        <div class="count"><span>80%</span></div>
                        <div class="count-bar theme-color" style="width: 80%;"></div>
                    </div>
                      <div class="skillbar" data-percent="90%">
                          <div class="title">BOOTSTRAP</div>
                          <div class="count"><span>90%</span></div>
                          <div class="count-bar theme-color" style="width: 90%;"></div>
                      </div>
                      <div class="skillbar" data-percent="90%">
                          <div class="title">PHOTOSHOP</div>
                          <div class="count"><span>90%</span></div>
                          <div class="count-bar theme-color" style="width: 90%;"></div>
                      </div>
                      <div class="skillbar" data-percent="50%">
                          <div class="title">ANGULAR 2</div>
                          <div class="count"><span>50%</span></div>
                          <div class="count-bar theme-color" style="width: 50%;"></div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <!--/.row-->
  </div>
  <!--/.container-->
</section>