<section class="about-section contact">
  <img src="../../assets/images/youtube-bg.jpg">
  <div class="about-content">
      <i class="fa fa-youtube" aria-hidden="true"></i>
      <h2>Youtube</h2>
  </div>
</section>
<section id="youtube" class="youtube-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="section-title">
                  <h2>Youtube.</h2>
                  <p>let's work together projects and just send me email here</p>
              </div>
          </div>
      </div>
      <div class="youtube-row">
          <div class="youtube-col">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/AaXXjnLDhKs?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="youtube-col">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/AaXXjnLDhKs?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="youtube-col">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/AaXXjnLDhKs?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="youtube-col">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/AaXXjnLDhKs?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
  </div>
</section>