<section class="about-section contact">
  <img src="../../assets/images/course-bg.jpg">
  <div class="about-content">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <h2>Courses</h2>
  </div>
</section>
<section class="course-section contact-info-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="section-title">
          <h2>courses.</h2>
          <p>let's work together projects and just send me email here</p>
        </div>
      </div>
    </div>
    <div class="row course-row">
      <div class="course-col">
        <a href="javascript:;">
          <img src="../../assets/images/html.jpg">
          <div class="course-contents">
            <h5>html5 full course</h5>
          <div class="course-detail">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>1H.00M</p>
            <p><span>FREE</span></p>
          </div>
          </div>
          

        </a>


      </div>
      <div class="course-col">
        <a href="javascript:;">
          <img src="../../assets/images/css.jpg">
          <div class="course-contents">
          <h5>css3 full course</h5>
          <div class="course-detail">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>1H.00M</p>
            <p><span>FREE</span></p>
          </div>
        </div>
        </a>

      </div>
      <div class="course-col">
          <a href="javascript:;">
             <img src="../../assets/images/jquery.jpg">
             <div class="course-contents">
             <h5>jquery full course</h5>
             <div class="course-detail">
               <p><i class="fa fa-clock-o" aria-hidden="true"></i>1H.00M</p>
               <p><span>FREE</span></p>
             </div>
             </div>
          </a>
  
        </div>
      <div class="course-col">
        <a href="javascript:;">
           <img src="../../assets/images/bootstrap.jpg">
           <div class="course-contents">
           <h5>bootstrap full course</h5>
           <div class="course-detail">
             <p><i class="fa fa-clock-o" aria-hidden="true"></i>1H.00M</p>
             <p><span>FREE</span></p>
           </div>
           </div>
        </a>

      </div>

    </div>
  </div>
</section>
