<section class="about-section service">
    <img src="../../assets/images/service-bg.jpg">
    <div class="about-content">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <h2>services</h2>
    </div>
</section>
<section id="services" class="services-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="section-title" *ngFor="let whatidos of whatido | async">
                  <h2>{{whatidos.heading}}</h2>
                  <p>{{whatidos.conten}}</p>
              </div>
          </div>
      </div>

      <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let service of services | async" >
                    <div class="single-service text-center">
                        <div class="servise-icon theme-color">
                            <i class="{{service.ifont}}"></i>
                            
                        </div>
                        <h4>{{service.position}}</h4>
                        <p>{{service.content}}</p>
                    </div>
            </div>

      </div>

  </div>
  <!--/.container-->
</section>
