
<section class="dashboard">
  <div class="e">
    <div class="item divStyle banner1">
      <div class="home-content">
   <div class="home-text">
        <p>I,m Prem Kumar</p>
      </div>
        <div class="home-text">
          <h1 id="typewriter">UI / UX Developer</h1>
        </div>
  
      </div>
    </div>
    <div class="item divStyle banner2">
      <div class="home-content">
         <div class="home-text">
        <p>Learn Web Design That Enhance </p>
      </div>
        <div class="home-text">
          <h1 id="typewriter">Your Career</h1>
        </div>
    
      </div>
    </div>
    <div class="item divStyle banner3">
      <div class="home-content">
         <div class="home-text">
        <p>Web Design Course to Boost </p>
      </div>
        <div class="home-text">
          <h1 id="typewriter">Your Career</h1>
        </div>
    
      </div>
    </div>
    <div class="item divStyle banner4">
      <div class="home-content">
         <div class="home-text">
        <p>Web Design Course to Boost </p>
      </div>
        <div class="home-text">
          <h1 id="typewriter">Your Career</h1>
        </div>
    
      </div>
    </div>
 
  </div>
</section>
<app-footer></app-footer>
