<section class="about-section works">
    <img src="../../assets/images/works-bg.jpg">
    <div class="about-content">
        <i class="fa fa-file" aria-hidden="true"></i>
        <h2>My Works</h2>
    </div>
</section>
<section id="work" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="section-title">
                  <h2>work.</h2>
                  <p>Here's some of my recent work from my portfolio</p>
              </div>
          </div>
      </div>

      <div class="row">
          <ul class="work">
              <li class="filter theme-color active" data-filter="all">all</li>
              
          </ul>
      </div>

      <div class="work-inner wow fadeInUp" data-wow-delay="0.4s" id="MixItUp51961E" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="row">
              <div class="col-md-4 col-sm-6 single-work mix webdesign" style="display: inline-block;" data-bound="">
                  <div class="full-work">
                      <img src="../../assets/images/item1.jpg" alt="">
                      <div class="itemHover">
                          <div class="work-table theme-color">
                              <div class="table-cell">
                                  <div class="hover-content">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                      <a routerLink="/" class="theme-color"><i class="fa fa-link"></i></a>
                                      <a href="../../assets/images/item1.jpg" class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 single-work mix webdesign" style="display: inline-block;" data-bound="">
                  <div class="full-work">
                      <img src="../../assets/images/item2.jpg" alt="">
                      <div class="itemHover">
                          <div class="work-table theme-color">
                              <div class="table-cell">
                                  <div class="hover-content">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                      <a routerLink="/" class="theme-color"><i class="fa fa-link"></i></a>
                                      <a href="../../assets/images/item2.jpg" class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 single-work mix development" style="display: inline-block;" data-bound="">
                  <div class="full-work">
                      <img src="../../assets/images/item3.jpg" alt="">
                      <div class="itemHover">
                          <div class="work-table theme-color">
                              <div class="table-cell">
                                  <div class="hover-content">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                      <a routerLink="/" class="theme-color"><i class="fa fa-link"></i></a>
                                      <a href="../../assets/images/item3.jpg" class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 single-work mix development" style="display: inline-block;" data-bound="">
                  <div class="full-work">
                      <img src="../../assets/images/item4.jpg" alt="">
                      <div class="itemHover">
                          <div class="work-table theme-color">
                              <div class="table-cell">
                                  <div class="hover-content">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                      <a routerLink="/" class="theme-color"><i class="fa fa-link"></i></a>
                                      <a href="../../assets/images/item4.jpg" class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 single-work mix graphic" style="display: inline-block;" data-bound="">
                  <div class="full-work">
                      <img src="../../assets/images/item5.jpg" alt="">
                      <div class="itemHover">
                          <div class="work-table theme-color">
                              <div class="table-cell">
                                  <div class="hover-content">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                      <a routerLink="/" class="theme-color"><i class="fa fa-link"></i></a>
                                      <a href="../../assets/images/item5.jpg" class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 single-work mix graphic" style="display: inline-block;" data-bound="">
                  <div class="full-work">
                      <img src="../../assets/images/item6.jpg" alt="">
                      <div class="itemHover">
                          <div class="work-table theme-color">
                              <div class="table-cell">
                                  <div class="hover-content">
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                      <a routerLink="/" class="theme-color"><i class="fa fa-link"></i></a>
                                      <a href="../../assets/images/item6.jpg" class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <!--/.row-->
      </div>
  </div>
  <!--/.container-->
</section>
<app-footer></app-footer>